body{
  background-image: url("https://i.makeagif.com/media/12-15-2020/jdHdK9.gif");
  background-size: cover;


}

#icons{
  position: absolute;
  border-radius: 5%;
  background-image: url("https://static4.depositphotos.com/1004032/356/i/600/depositphotos_3569679-stock-photo-poker-table-felt-background.jpg");
  width: 50%;
  height: 15%;
  top: 0px;
  right: 25%;
}

h1{
  font-family:'Luxurious Script', cursive;
  position: relative;
  color: white;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  top: -40px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.commentary{
  position: fixed;
  font-size: 40px;
  height: 200px;
  width: 200px;
  top: 30%;
  left: 5%;
  animation: bounce 1.5s;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
            animation-iteration-count: infinite;
        }

@keyframes bounce {
  from {
  transform: translate3d(0, 0, 0);
}
  to {
    transform: translate3d(0, 200px, 0);
    }
  }

.dealerSide{
  position: relative;
  border-radius: 10%;
  height: 200px;
  width: 200px;
  background-image: url("https://static4.depositphotos.com/1004032/356/i/600/depositphotos_3569679-stock-photo-poker-table-felt-background.jpg");
  top: 150px;
  left: 600px;
}
.playerSide{
  position: relative;
  border-radius: 10%;
  height: 200px;
  width: 200px;
  background-image: url("https://static4.depositphotos.com/1004032/356/i/600/depositphotos_3569679-stock-photo-poker-table-felt-background.jpg");
  top: 300px;
  left: 600px;
}
h2{
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}
h3{
  color: white;
  text-align: center;
  font-size: 30px
}
.walletDiv{
  background-image: url("https://static4.depositphotos.com/1004032/356/i/600/depositphotos_3569679-stock-photo-poker-table-felt-background.jpg");
  position: fixed;
  border-radius: 20%;
  height: 200px;
  width: 200px;
  bottom: 0;
  right: 0;
}
.start{
  position: relative;
  background-color: maroon;
  color: white;
  border-radius: 100px;
  width:30%;
  height: 30%;
  top: 40px;
}

.buttons{
  position: absolute;
  border-radius: 20%;
  bottom: 0;
  height: 30%;
  width: 20%;
  background-image: url("https://static4.depositphotos.com/1004032/356/i/600/depositphotos_3569679-stock-photo-poker-table-felt-background.jpg");
  display: block;

}


#hit{
  position: relative;
  background-color: maroon;
  color: white;
  border-radius: 100px;
  width:30%;
  height: 30%;
  top: 40px;
}



#stay {
  position: relative;
  background-color: maroon;
  color: white;
  border-radius: 100px;
  width:30%;
  height: 30%;
  top: 40px;
}
